{% extends './base.html' %}

{% block custom_title %}Edit{% endblock custom_title %}

{% block content %}
  <div class="form-container">
    <h2>Edit Payroll Expense</h2>
    <form method="post">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <div class="actions">
        <input type="submit" value="Update">
      </div>
    </form>
    <p>
      Check the
      <a href="https://www.canada.ca/en/revenue-agency/services/e-services/digital-services-businesses/payroll-deductions-online-calculator.html" target="_blank">
        Payroll Deductions Online Calculator</a>
    </p>
  </div>
{% endblock content %}
