{% extends './base.html' %}
{% load static %}

{% block title %}Payroll Expense List{% endblock title %}

{% block script %}
<script src="{% static 'payrolls/js/jquery-3.7.0.min.js' %}"></script>
<script>
  $(document).ready(function() {
    $("#payroll-table th").click(function() {
        var table = $(this).parents('table').eq(0);
        var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()));
        this.asc = !this.asc;
        if (!this.asc) {
          rows = rows.reverse();
        }
        for (var i = 0; i < rows.length; i++) {
          table.append(rows[i]);
        }
      });
  function comparer(index) {
    return function(a, b) {
      var valA = getCellValue(a, index), valB = getCellValue(b, index);
      return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB);
    };
  }
  function getCellValue(row, index) {
    return $(row).children('td').eq(index).text();
  }
  });
</script>
{% endblock script %}

{% block content %}
  <div class="list-container">
    <h1>Payroll Expense List</h1>
    <a href="{% url 'payroll_expense_create' %}" class="create-button">Create Payroll</a>
    <table >
      <tr>
        <th class="sortable">Date</th>
        <th class="sortable">Hours Worked</th>
        <th class="sortable">Employee Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {% for payroll_expense in payroll_expenses %}
        <tr>
          <td>{{ payroll_expense.date }}</td>
          <td>{{ payroll_expense.hours_worked }}</td>
          <td>{{ payroll_expense.employee.name }}</td>
          <td><a href="{% url 'payroll_expense_update' payroll_id=payroll_expense.payroll_id %}" class="update-button">Update</a></td>
          <td><a href="{% url 'payroll_expense_delete' payroll_id=payroll_expense.payroll_id %}" class="delete-button">Delete</a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock content %}
