{% extends './base.html' %}
{% load static %}

{% block title %}Contract List{% endblock title %}

{% block script %}
<script src="{% static 'contracts/js/jquery-3.7.0.min.js' %}"></script>
<script>
  $(document).ready(function() {
    $("#contract-table th").click(function() {
      var table = $(this).parents('table').eq(0);
      var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()));
      this.asc = !this.asc;
      if (!this.asc) {
        rows = rows.reverse();
      }
      for (var i = 0; i < rows.length; i++) {
        table.append(rows[i]);
      }
    });
    function comparer(index) {
      return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index);
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB);
      };
    }
    function getCellValue(row, index) {
      return $(row).children('td').eq(index).text();
    }
  });
</script>
{% endblock script %}

{% block content %}
<div class="list-container">
  <h1>Contract List</h1>
  <a href="{% url 'contract_create' %}" class="create-button">Create Contract</a>
  <table id="contract-table">
    <tr>
      <th class="sortable">Date</th>
      <th class="sortable">Place</th>
      <th class="sortable">Income</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    {% for contract in contracts %}
      <tr>
        <td>{{ contract.date }}</td>
        <td>{{ contract.place }}</td>
        <td>${{ contract.income }}</td>
        <td>
          <a href="{% url 'contract_update' contract.contract_id %}" class="update-button">Update</a>
        </td>
        <td>
          <a href="{% url 'contract_delete' contract.contract_id %}" class="delete-button">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}
