{% extends './base.html' %}
{% load static %}

{% block custom_title %}List{% endblock custom_title %}

{% block content %}
<div class="list-container">
  <h2>Expense List</h2>
  <a href="{% url 'expense_create' %}" class="create-button">Add Expense</a>
  <table>
    <tr>
      <th class="sortable col-3">Date</th>
      <th class="sortable col-4">Description</th>
      <th class="sortable col-3">Amount</th>
      <th class="col-2">Detail</th>
    </tr>
    {% for expense in expenses %}
    <tr>
      <td>{{ expense.date }}</td>
      <td>{{ expense.description }}</td>
      <td>$ {{ expense.amount|floatformat:2 }}</td>
      <td><a href="{% url 'expense_detail' pk=expense.pk %}" class="detail-button">Detail</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
<script>
  $(document).ready(function() {
    $("th").click(function() {
        var table = $(this).parents('table').eq(0);
        var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()));
        this.asc = !this.asc;
        if (!this.asc) {
          rows = rows.reverse();
        }
        for (var i = 0; i < rows.length; i++) {
          table.append(rows[i]);
        }
      });
  function comparer(index) {
    return function(a, b) {
      var valA = getCellValue(a, index), valB = getCellValue(b, index);
      return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB);
    };
  }
  function getCellValue(row, index) {
    return $(row).children('td').eq(index).text();
  }
  });
</script>
{% endblock script %}