{% extends './base.html' %}

{% block title %}Employee Dashboard{% endblock %}

{% block content %}
  <div class="dashboard">
    <h1>Employee Dashboard</h1>
    <form method="get" action="{% url 'employee_dashboard' employee.employee_id %}">
      <label for="start_date">Start Date:</label>
      <input type="date" id="start_date" name="start_date">
      <label for="end_date">End Date:</label>
      <input type="date" id="end_date" name="end_date">
      <input type="submit" value="Submit">
    </form>

    <div class="dashboard-info">
      <div class="dashboard-item">
          <h2>Selected Employee</h2>
          <p>{{ employee.name }}</p>
      </div>
      <div class="dashboard-item">
          <h2>Selected Period</h2>
          <p>{{ start_date }} to {{ end_date }}</p>
      </div>
      <div class="dashboard-item">
          <h2>Employee Income</h2>
          <p>{{ income }}</p>
      </div>
      <div class="dashboard-item">
          <h2>Tax Deduction</h2>
          <p>{{ federal_tax|add:provincial_tax }}</p>
      </div>
      <div class="dashboard-item">
          <h2>CPP Deduction</h2>
          <p>{{ cpp }}</p>
      </div>
      <div class="dashboard-item">
          <h2>EI Deduction</h2>
          <p>{{ ei }}</p>
      </div>
      <div class="dashboard-item">
          <h2>Net Income</h2>
          <p>{{ net_income }}</p>
      </div>
    </div>
  </div>
{% endblock %}
