{% extends './base.html' %}

{% block custom_title %}Employee{% endblock custom_title %}

{% block content %}
  <div class="dashboard">
    <h2>Employee Dashboard</h2>
    <form method="get" action="{% url 'employee_dashboard' employee.pk %}">
      <label for="start_date">Start Date:</label>
      <input type="date" id="start_date" name="start_date">
      <label for="end_date">End Date:</label>
      <input type="date" id="end_date" name="end_date">
      <input type="submit" value="Submit">
    </form>

    <div class="dashboard-info">
      <div class="dashboard-item">
        <h3>Employee</h3>
        <p>{{ employee.name }}</p>
      </div>
      <div class="dashboard-item">
        <h3>Period</h3>
        <p>{{ start_date }} ~ {{ end_date }}</p>
      </div>
      <div class="dashboard-item">
        <h3>Income</h3>
        <p>$ {{ income|floatformat:2 }}</p>
      </div>
      <div class="dashboard-item">
        <h3>Net Income</h3>
        <p>$ {{ net_income|floatformat:2 }}</p>
      </div>
      <div class="dashboard-item">
        <h3>Tax Deduction</h3>
        <p>$ {{ federal_tax|add:provincial_tax|floatformat:2 }}</p>
      </div>
      <div class="dashboard-item">
        <h3>CPP Deduction</h3>
        <p>$ {{ cpp|floatformat:2 }}</p>
      </div>
      <div class="dashboard-item">
        <h3>EI Deduction</h3>
        <p>$ {{ ei|floatformat:2 }}</p>
      </div>
    </div>
  </div>
{% endblock content %}